@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body {
	background-color: black;
}

header {
	height: 100px;
	margin: auto;
}

#logo, #search, #genre, #user_icon, #watch_later, #set {
	float: left;
	align-content: center;
}

#logo {
	margin: 15px;
}

#logo img{
	width: 350px;
}

div#search {
    margin: 25px;
    padding-right: 300px;
}
/* .dropbtn { */
/*   background-color: black; */
/*   color: white; */
/*   padding: 16px; */
/*   font-size: 16px; */
/*   border: none; */
/*   margin: 25px; */
  
/* } */

/* .dropdown { */
/*   position: relative; */
/*   display: inline-block; */
/* } */

/* .dropdown-content { */
/*   display: none; */
/*   position: absolute; */
/* /*   background-color: #f1f1f1; */ */
/*   min-width: 160px; */
/*   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
/*   z-index: 1; */
/* } */

.dropdown-content p {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    font-size: 1.2em;
    background-color: black;
}

.dropdown-content a:hover {background-color: white; color:black}

.dropdown:hover .dropdown-content {display: block;}

#search input[type="search"] {
    height: 40px;
    width: 250px;
    text-align: center;
    font-size: 1.5em;
}

div#user_icon img , #watch_later img {
    width: 40px;
    margin: 20px;
}

#set img {
    width: 45px;
    margin: 16px 20px 20px 20px;
}